.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 510px;
    color: #fff;
    background-position: 0mm;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url("../../../imaige/private1.jpg")
}
.banner h1{
    font-size: 45px;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
}
.banner p{
    font-size: larger;
    margin-top: 20px;
}
@media screen and (max-width:770px) {
    .banner{
        height: 310px;
    }
    .banner h1{
        font-size: 35px;
        margin-bottom: 10px;
    }
    .banner p{
        font-size: 16px;
        margin-top: 10px;
    }
}
